* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f6f8fc;
  color: #333;
  padding: 0.7em;
}

.container {
  display: flex;
  flex-direction: column;
}

header.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7em;
}
header.page-header .header-title {
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 0;
  line-height: normal;
  color: #333;
  color: #333;
  margin: 0;
}
header.page-header .right-content {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
header.page-header .right-content .nav-icons {
  display: flex;
  gap: 0.5em;
}
header.page-header .right-content .nav-icons i {
  font-size: 1.2rem;
  color: #3f8cff;
  cursor: pointer;
}
header.page-header .right-content .nav-icons i:hover {
  color: rgb(12, 109.453125, 255);
}
header.page-header .right-content .user-name {
  font-size: 1em;
  font-weight: normal;
  letter-spacing: 0;
  line-height: normal;
  color: #333;
  white-space: nowrap;
}
header.page-header .right-content .user-image {
  width: 3.3em;
  height: 3.3em;
  border-radius: 50%;
  border: 1px solid #ddd;
}

#sideMenu {
  padding: 1em 0 0 1em;
}
#sideMenu #sideLogo {
  padding: 1em 1.2em 2em 0.7em;
  font-family: "mulish";
  font-size: 1.2em;
}
#sideMenu #sideLogo img {
  padding: 0 0.5em 0.2em 0;
}
#sideMenu .nav {
  flex-direction: column;
}
#sideMenu .nav .nav-item {
  margin: 0.2rem 0;
}
#sideMenu .nav .nav-item .nav-link {
  color: #A4A6B3;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
#sideMenu .nav .nav-item .nav-link:hover {
  color: #DDE2FF;
}
#sideMenu .nav .nav-item .nav-link .fa-solid {
  font-size: 1.2rem;
  min-width: 2rem;
  text-align: center;
  margin-right: 0.8em;
}

.overview-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  margin: 20%;
}
.overview-cards .card {
  background: white;
  padding: 1em;
  border-radius: 0.8em;
  border: 1px solid #ddd;
  flex: 1;
  min-width: 150px;
  text-align: center;
  transition: color 0.3s ease;
}
.overview-cards .card h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 0;
  line-height: normal;
  color: #333;
  transition: color 0.3s ease;
}
.overview-cards .card p {
  font-size: 2.6em;
  font-weight: bold;
  letter-spacing: 0;
  line-height: normal;
  color: #333;
  transition: color 0.3s ease;
}
.overview-cards .card:hover {
  border-color: #3f8cff;
}
.overview-cards .card:hover h3, .overview-cards .card:hover p {
  color: #3f8cff;
}

#trends-resolved-metrics {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: white;
}
#trends-resolved-metrics .trends-header {
  text-align: center;
  margin-bottom: 20px;
}
#trends-resolved-metrics .trends-header h5 {
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0;
  line-height: normal;
  color: #333;
}
#trends-resolved-metrics .trends-header p {
  font-size: 0.9em;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1.2;
  color: #9FA2B4;
}
#trends-resolved-metrics .trends-resolved-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#trends-resolved-metrics .trends-resolved-container .graph img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
#trends-resolved-metrics .trends-resolved-container .metrics {
  display: flex;
  flex-direction: column;
}
#trends-resolved-metrics .trends-resolved-container .metrics .metric {
  flex: 1;
  text-align: center;
}
#trends-resolved-metrics .trends-resolved-container .metrics .metric .label {
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.2;
  color: #9FA2B4;
}
#trends-resolved-metrics .trends-resolved-container .metrics .metric .value {
  font-size: 1.25em;
  font-weight: bold;
  letter-spacing: 0;
  line-height: normal;
  color: #333;
}
@media (min-width: 992px) {
  #trends-resolved-metrics .trends-resolved-container {
    flex-direction: row;
  }
  #trends-resolved-metrics .trends-resolved-container .graph {
    flex: 2;
  }
  #trends-resolved-metrics .trends-resolved-container .metrics {
    flex: 1;
  }
}

.unresolved-tickets,
.tasks {
  background: white;
  padding: 1em;
  border-radius: 0.8em;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}
.unresolved-tickets .section-header,
.tasks .section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.unresolved-tickets .section-header h4,
.tasks .section-header h4 {
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 0;
  line-height: normal;
  color: #333;
}
.unresolved-tickets .section-header .details-link,
.tasks .section-header .details-link {
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.2;
  color: #3f8cff;
  text-decoration: none;
}
.unresolved-tickets .group-info,
.tasks .group-info {
  margin-bottom: 15px;
  font-size: 0.9em;
  font-weight: normal;
  letter-spacing: 0;
  line-height: normal;
  color: #333;
}
.unresolved-tickets ul,
.tasks ul {
  padding: 0;
  list-style: none;
}
.unresolved-tickets ul li,
.tasks ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.unresolved-tickets ul li .status,
.tasks ul li .status {
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 0.2px;
  line-height: 1.5;
  color: #9FA2B4;
}

@media (max-width: 768px) {
  .overview-cards {
    flex-direction: column;
  }
  .row-container {
    flex-direction: column;
  }
  #sideMenu {
    display: none;
  }
}
@media (min-width: 768px) {
  .right-content {
    gap: 20px;
  }
  .header-title {
    font-size: 2em;
  }
  header.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7em;
  }
  header.page-header .header-title {
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0;
    line-height: normal;
    color: #333;
    color: #333;
    margin: 0;
  }
  header.page-header .right-content {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  header.page-header .right-content .nav-icons {
    display: flex;
    gap: 0.5em;
  }
  header.page-header .right-content .nav-icons i {
    font-size: 1.2rem;
    color: #3f8cff;
    cursor: pointer;
  }
  header.page-header .right-content .nav-icons i:hover {
    color: rgb(12, 109.453125, 255);
  }
  header.page-header .right-content .user-name {
    font-size: 1em;
    font-weight: normal;
    letter-spacing: 0;
    line-height: normal;
    color: #333;
    white-space: nowrap;
  }
  header.page-header .right-content .user-image {
    width: 3.3em;
    height: 3.3em;
    border-radius: 50%;
    border: 1px solid #ddd;
  }
  .overview-cards {
    margin: 0 0 2em 0;
  }
  hr {
    width: 103%;
  }
}

/*# sourceMappingURL=stylesheet.css.map */
