.container_fluid {
    padding: 0;
  }
  
  .sideLogo {
    color: #A4A6B3;
    font-size: 1.188rem;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    padding: 2rem;
  }
  
  .sideLogo img{
    padding-right: .4rem;
  }
  
  #sideMenu {
    .nav-link {
      color: #A4A6B3;
      text-decoration: none;
      /* Remove underline */
    }
  
    .nav-link:hover {
      color: #DDE2FF;
      text-decoration: none;
      /* Ensure no underline appears on hover too */
    }
  }